h1 {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
}
p {
    text-align: justify;
    font-size: 25px;
}
form {
    align-items: right;
}
ul{
    margin: 10px; 
    padding-left: 40px;
}
div {
    vertical-align: right;

}